.container {
    padding: 10px 10px;
}

.button-container {
    padding: 30px;
    margin: 10px;
    width: 350px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.wrapper-class {
    padding: 30px;
    margin: 10px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.button-class {
    padding: 10px;
}